.skills__container{
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title,
.skills__description{
padding-inline: 30px;
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);  
}

.mainBarskills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.barskills__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name,
.barskills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--smaller-font-size);
}


.barskills__number{
    color: var(--number-color);
    font-weight: 700;
}

.barskills__number span{
    color: var(--number-color);
}

.skills__description{
    margin-bottom: 30px;
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.barskills__bar,
.barskills__percentage{
    height: 2.5px;
}

.barskills__bar{
    background: rgb(146, 146, 146);
}

.barskills__percentage{
    display: block;
    background-color: var(--number-color);
    position: relative;
}

.barskills__percentage span{
    background-color: var(--text-color);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 6px 1px var(--title-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -7px;
}

@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }

  @media screen and (max-width: 567px) {
    .skills__container{
        grid-template-columns: 1fr;
    }
    
    .skills__content{
        padding: 1.5rem;
    }
  }

  @media screen and (max-width: 350px){
    .skills__box{
        column-gap:1.25rem;
    }

    .skills__name{
        font-size: var(--smaller-font-size);
    }
  }  